.pagination-root {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.pagebtn {
  background-color: grey;
  color: black;
}
.pagecontent {
  border-radius: 50px;
}
