.root {
  margin: 0px;
  height: auto;
  padding: 0px;
  width: auto;
}
.navbar-custom {
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.container-nav {
  background-color: #7f7979;
  height: 8vh;
  margin: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.navbar-heading {
  color: #323031;
  margin: 5px auto;
  font-size: 28px;
  font-family: "Playball", cursive;
  font-weight: bold;
}
.logo-style {
  height: 43px;
  width: 43px;
  margin: 6px;
}
.content-container {
  min-height: 120vh !important;
  max-height: 300vh;
  padding-top: 10vh !important;
  margin: 0px;
  padding-bottom: 10px;
  background-image: linear-gradient(120deg, #323031, #3d3b3c);
}
.tagBtn {
  color: #dad8d2;
  font-weight: 500;
}
.clear-button {
  white-space: nowrap;
  /* margin: 0px 8px; */
}
.card {
  width: 18rem;
  background-color: #7f7979;
  margin: 18px;
  padding: 0px;
}
.card-img-top {
  margin: 0px;
  padding: 0px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchInput {
  margin: 5px;
}
.search {
  border: none;
}
.grid-parent {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  justify-content: center;
}
.image {
  margin-top: 40px;
  border: 1px solid grey;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.imageContainer:hover .image {
  opacity: 3;
}

.imageContainer:hover .middle {
  opacity: 1;
}
.imageContainer {
  position: relative;
}
.text {
  background-color: #323031;
  color: white;
  opacity: 0.8;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.tagContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: none;
  padding: 10px;
  border-radius: 5px;
}

.change-page-container {
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi {
  padding: 0px 8px;
  margin: 5px 5px;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  color: #dad8d2;
  align-items: center;
  justify-content: center;
}
.disabled {
  cursor: not-allowed;
}
@media only screen and (max-width: 768px) {
  .grid-parent {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
  }
  .content-container {
    min-height: 250vh !important;
    max-height: 400vh;
    padding-top: 10vh !important;
    padding-bottom: 10px !important;
    margin: 0px;
    padding: 0px;
    width: auto;
    background-image: linear-gradient(120deg, #323031, #3d3b3c);
  }
  .tagContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 20px;
    flex-direction: row;
    overflow: scroll;
  }
  .tagBtn {
    margin: 7px;
    height: 40px;
  }
  .clear-button {
    white-space: nowrap;
    /* margin: 0px 8px; */
  }
  .image {
    margin-top: 18px;
    border-radius: 5px 0px;
    width: 225px;
    height: 180px;
  }
  .image:hover {
    width: 225px;
    height: 180px;
  }
}

@media only screen and (max-width: 475px) {
  .grid-parent {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  .content-container {
    min-height: 300vh !important;
    max-height: 500vh;
    padding-top: 10vh !important;
    padding-bottom: 10px !important;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(120deg, #323031, #3d3b3c);
    width: auto;
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: none;
    padding: 10px;
    border-radius: 5px;
  }
  .tagContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 15px;
    overflow: scroll;
  }
  .tagBtn {
    margin: 5px;
    height: 40px;
  }
  .container {
    min-width: auto;
    max-width: auto;
  }
  .image {
    margin-top: 10px;
    width: 175px;
    height: 150px;
    border-radius: 5px 0px;
  }
  .image:hover {
    height: 150px;
    width: 175px;
  }
}
